body
{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.allWrapper
{
    align-items:center;
    display: flex;
    flex-direction:column;
}

.submitWrapper
{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px
}
.submitButton
{
    width:60px;
    height: 30px;
}
.textField
{
    height: 24px;
}

.choiceContainer
{
    display:flex;
    gap:24px;
}
.choiceImg
{
    height: 200px;
    width:200px;
    gap:20px;
}

.counterContainer
{
    display:flex;
    justify-content: space-between;
    width:34.3%; 
}

.scoresContainer
{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.typo
{
    font-size: 48px;
}
